#me {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid yellow;
}
.me {
  position: relative;
  left: 0px; /* Move 200px to the left */
  top: 350px; /* Move 100px down */
  transition: 1s;
}
.right1 {
  transition: 1s;
}
