body {
  background-color: #262222;
  color: #d2d2e0;
  position: relative;
  left: 0px; /* Start at normal position */
  transition: left 0.75s ease-in-out;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.left {
  width: 50%;
  height: 600px;
  background-color: rgb(136, 0, 0);
}
.right {
  width: 50%;
  height: 600px;
}
.left1 {
  width: 10%;
  height: 600px;
}

.right1 {
  width: 90%;
  height: 600px;
  margin-right: 20px;
  background-color: rgb(154, 127, 16);
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  font-family: monospace;
}
.hi {
  transform: translateX(-275px);
  color: rgba(136, 13, 13, 0.849);
  transition: 2s;
}
.spec {
  color: rgb(135, 0, 0);
}
.name {
  font-size: 2.5em;
}
.right1 .title,
.right1 .skills {
  font-size: 1em; /* Keep the other text the same size */
  line-height: 1.5; /* Add spacing between lines */
}

.text,
.text1 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
  font-weight: 800;
  transform: translateY(-430px);
  position: relative;
  color: rgb(163, 163, 163);
  line-height: 0.85;
}
.text1 {
  transform: translate(300px, 30px);
  color: white;
}
@media (max-width: 500px) {
  .welcome {
    padding-left: 0px;
  }
  .text {
    transform: translateY(-350px);
  }
  .text1 {
    transform: translate(100px, 30px);
  }
}
header {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 45px;
}
.menu {
  transform: rotate(-90deg);
  font-size: 16px;
}
.detailed {
  display: flex;
  justify-content: space-between;
}
.text1 {
  left: -50px;
  z-index: 900;
}
#projects {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow to only show the sliding images */
  height: 100vh; /* Make the height relative to the viewport */
}
.container {
  background-color: rgb(30, 144, 189);
  width: 80%;
  height: 550px;
  margin-left: 80px;
}
.balance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 8em;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.8;
  top: 500px;
  transform: translate(1250px, -500px);
}

.rotate {
  transform: rotate(-270deg);
}

footer {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.slider-container {
  width: max-content;
  height: auto;
  border: 10px solid white;
  border-radius: 5px;
  overflow: hidden; /* Ensure only one image is visible at a time */
  position: relative;
  background: transparent;
  background-color: white;
}
.slider {
  display: flex;
  width: 100%;
  animation: slide 10s infinite;
  transition: transform 0.5s ease-in-out;
}
.slider img {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-fit: cover;
}

@media (max-width: 500px) {
  #projects {
    margin-top: 100px;
    height: auto; /* Adjust to fit content */
  }
  .container {
    background: none;
    width: 100%;
    height: 500px;
  }

  .slider-container {
    top: 150px;
    width: max-content;
    min-width: 300px;
    left: -40px;
    max-width: none; /* Allow full width on smaller screens */
    height: auto;
  }
  .slider img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the whole image is visible */
  }

  .balance .rotate {
    font-size: 1em; /* Adjust text size for better readability on small screens */
  }
}
@media (max-width: 500px) {
  .balance {
    display: flex;

    font-weight: 800;
    line-height: 0.8;
    top: 500px;
    transform: translate(-40px, -175px);
    font-size: 50px;
    position: static;
  }
  .rotate {
    font-size: 4em;
    transform: rotate(0deg);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Media query for mobile devices */
